// colores
$blue-bg: #61c4d9;
$grey-bg: #f8faf9;
$green-bg: #cfdeda;
$green: #0f5a47;
$green-btn: #0b4d3c;

@import "media";

// nomalize
@import "normalize";
@import "fonts";
@import "layout";



@import "blocks/section.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/first-screen.scss";
@import "blocks/advantages.scss";
@import "blocks/desc.scss";
@import "blocks/btn.scss";
@import "blocks/contacts.scss";
@import "blocks/reasons.scss";
@import "blocks/section-title.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/vertical-accord.scss";
@import "blocks/hamburger-menu-link.scss";
@import "blocks/team.scss";
@import "blocks/social.scss";
@import "blocks/map.scss";
@import "blocks/footer-main.scss";
@import "blocks/address.scss";
@import "blocks/close.scss";
@import "blocks/slider.scss";
@import "blocks/full-screen-menu.scss";
@import "blocks/menu-composition.scss";
@import "blocks/composition.scss";
@import "blocks/overlay.scss";






