.advantages {
    font-family: 'Alegreya Sans';
    font-size: rem(16px);
    fill: blue;
    width: 40%;
    align-self: flex-start;
    @include tablets {
        align-self: center;
    }
    
        &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 29%;
        // width: rem(125px);
        // padding-left: rem(49px);
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        position: relative;
    }    
    &__desc {
        width: 60%;
        margin-left: 10px;
    }
    &__item:last-child {
        margin-right: 0;
    }
}
.advantages__icon {
    stroke: #b0f7ff;
    fill: transparent;
    width: 50px;
    height: 42px;
}