.advantages {
    font-family: 'Alegreya Sans';
    font-size: 16px;
    margin-right: -43px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 128px;
        padding-left: 51px;
        position: relative;
        margin-right: 49px;
    }
    
}
.advantages__item:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url(/icons/advantages-sprites.png);
    background-position: -78px -12px;
    top: 0;
    left: 0;
    width: 44px;
    height: 41px;
}
.advantages__item:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url(/icons/advantages-sprites.png);
    background-position: -146px -12px;
    top: 0;
    left: 0px;
    width: 50px;
    height: 40px;
}
.advantages__item:nth-child(2) {
    padding-left: 71px;
}
.advantages__item:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url(/icons/advantages-sprites.png);
    background-position: -220px -12px;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
}