.btn {
    padding: rem(17px) rem(34px) rem(17px) rem(34px);
    border-radius: rem(40px);
    background-color: white;
    border: none;
    color: $green;
    font-weight: 800;
    font-size: rem(19px);
    text-transform: uppercase;
    font-family: inherit;
}
.btn--submit {
    background-color: $green-btn;
    color: #ffffff;
}
.btn--reset {
    background: transparent;
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    color: $green;
    margin-left: rem(20px);
    padding: rem(10px) rem(10px);
}
.btn--reset:hover {
    background-color: #ffffff;
    border:  solid $green-btn;
    align-self: center;
}