.btn {
    width: 156px;
    height: 58px;
    border-radius: 29px;
    background-color: white;
    border: none;
    color: $green;
    font-weight: 800;
    font-size: 19px;
    text-transform: uppercase;
    font-family: inherit;
}