.close {
    position: absolute;
    right: rem(15px);
    top: rem(28px);
    width: rem(18px);
    height: rem(18px);
    opacity: 0.3;       
    &:hover {
        opacity: 1;
    }
    &:before, &:after {
        position: absolute;
        right: rem(7px);
        top: 0;
        content: ' ';
        height: rem(18px);
        width: 3px;
        background-color: fff;
        opacity: 0.7;
        border-radius: 3px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
         transform: rotate(-45deg);
    }
}