.first-screen {
    font-family: 'Alegreya Sans';
    background-color: $blue-bg;
    color: white;
    padding-top: 24px;
    padding-left: 32px;
    &__content {
        display: flex;
        width: 100%;
    }
}
.img-product {
    margin-right: -16px;
}
.container-first-screen {
    align-items: flex-start;
}