.box-map {    
    max-width: 100%;
    max-height: rem(650px);   
    overflow: hidden;
    @include tablets {
        max-height: rem(534px); 
    }
    @include phones {
        max-height: rem(526px);
    }
}
.map {
    object-fit: none;
    object-position: 0.125rem -18.75rem;
    @include tablets {
        object-position: -10.875rem -23.75rem;
    }
}