.order {
    background: url(/img/pattern-order.png) center center no-repeat, #cfdeda;
    color: #0f5a47;
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
}
.form {
    
    width: 100%;
}
.form__elem {
    display: flex; 
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    @include tablets {
        flex-direction: column;
        align-items: center;
    }  
}
.form__col {
    width: 48%;
    @include phones {
        width: 100%;
    }
}
.form__row {    
    display: flex;
    flex-wrap: nowrap;
    &--radio {
        margin-bottom: rem(14px);
        @include tablets {
            justify-content: center;
            margin-bottom: rem(28px)
        }
    }
    &--checkbox {
        margin-bottom: rem(50px);
        @include tablets {
            justify-content: center;
        }
    }
    &--btn {
        @include tablets {
            justify-content: center;
        } 
    }
    &--textarea {
        margin-bottom: rem(29px);
    }
}
.form__block {
    // flex: 1;
    position: relative;
    display: block;
    margin-right: rem(20px);
    width: 100%;
    &:last-child {
        margin-right: 0;
    }
    &--radio {
    display: inline-block;
    position: relative;
    padding-left: rem(28px);
    line-height: rem(20px);
    cursor: pointer;
    }
}
.form__input {
    border: none;
    background: #ffffff;
    padding: rem(19px) rem(10px);
    width: 100%;
    box-sizing: border-box;
    font-family: OpenSans;
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    color: #000000;
    &--textarea {
        resize: none;
        height: rem(153px);        
    }
}
.form__block-title--radio {
 margin-right: rem(20px);
}
// Перенесем стандартное отображение элементов за область видимости и добавим отступы к соседствующим меткам
.form__checkbox:checked,
.form__checkbox:not(:checked),
.form__radio:checked,
.form__radio:not(:checked) {
    position: absolute;
    left: rem(-9999px);
}
.form__checkbox:checked + label,
.form__checkbox:not(:checked) + label,
.form__radio:checked + label,
.form__radio:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: rem(40px);
    line-height: rem(20px);
    cursor: pointer;
}
// Перед метками добавим стилизованные контейнеры для наших пользовательских элементов
.form__checkbox:checked + label:before,
.form__checkbox:not(:checked) + label:before,
.form__radio:checked + label:before,
.form__radio:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: rem(0px);
    top: rem(-6px);
    width: rem(26px);
    height: rem(26px);
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
.form__radio:checked + label:before,
.form__radio:not(:checked) + label:before {
    border-radius: 100%;
}
// Добавим индикаторы выбора
.form__checkbox:checked + label:after,
.form__checkbox:not(:checked) + label:after,
.form__radio:checked + label:after,
.form__radio:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
} 
.form__checkbox:checked + label:after,
.form__checkbox:not(:checked) + label:after {
    left: rem(7px);
    top: rem(2px);
    width: rem(9px);
    height: rem(4px);
    border-radius: 1px;
    border-left: 4px solid  $green;
    border-bottom: rem(4px) solid  $green;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form__radio:checked + label:after,
.form__radio:not(:checked) + label:after {
    left: rem(7px);
    top: rem(1px);
    width: rem(14px);
    height: rem(14px);
    border-radius: 100%;
    background-color: $green;
}
// Скроем индикаторы выбора, когда элемент не выбран
.form__checkbox:not(:checked) + label:after,
.form__radio:not(:checked) + label:after {
    opacity: 0;
}
.form__checkbox:checked + label:after,
.form__radio:checked + label:after {
    opacity: 1;
}