.reasons {
    position: relative;
    background: url(/img/reasons-bg.png) 0% 57%;               
    background-repeat: no-repeat;
}
.reasons:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    background: url(/img/berries-reasons-bg.png) 0% 99%;
    background-repeat: no-repeat;
}
.reasons__subtitle {
    font-size: rem(18px);
    font-weight: normal;
    font-style: normal;
    text-align: center;    
    color: #666666;
    width: 45%;
    margin-top: rem(6px);
    margin-bottom: rem(55px);
    @include tablets {
        width: 55%;
    }
    @include phones {
        width: 87%;
    }
}
.reasons__list {
    display: flex;
    justify-content: space-between;
    max-width: rem(940px);


    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}
.reasons__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    @include tablets {
        width: 60%;
    }
    @include phones {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: rem(40px);
    }
}
.reasons__pic {
    position: relative;
    background-color: #f2f5f4;
    border-radius: 50%;
    border: 25px solid  #f2f5f4;
    box-sizing: content-box;  
    width: rem(75px);
    height: rem(70px);  
    margin-bottom: rem(35px);
    
    @include tablets {
        margin-bottom: rem(20px);
    }
    @include tablets {
        margin-bottom: 0;
    }
}
.reasons__icon {
    position: absolute;
    left: -4px;
    top: -4px;
    width: rem(75px);
    height: rem(69px);
    stroke: #2a2a29;
    stroke-width: 1px;
    fill: transparent;
}
.reasons__title {
    font-size: rem(27px);
    font-weight: bold;
    font-style: normal;
    color: #000000;
    margin-bottom: rem(15px);
}
.reasons__box-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
        width: 65%;
        align-items: flex-start;
    }
}
.reasons__desc {
    text-align: center;
    font-size: rem(18px);
    font-weight: 300;
    font-style: normal;
    color: #666666;
    @include phones {
        text-align: left;
    }
   
}
.reasons__item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: rem(67px);
    height: rem(21px);
    top: 18%;
    left: -22%;
    background: url(/icons/dots-reasons.svg);
    background-repeat: no-repeat;
    
    @include tablets {
        display: none;
    }
}
.reasons__item:nth-child(2)::after {
    position: absolute;
    content: '';
    width: rem(67px);
    height: rem(21px);
    top: 18%;
    left: 97%;
    background: url(/icons/dots-reasons.svg);
    background-repeat: no-repeat;
    @include tablets {
        display: none;
    }
}