.section-title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0d0d;
    &--white {
        position: absolute;
        color: white;
        top: rem(99px);
        left: rem(79px);
    }
}
.section-title--order {
    color: $green;
}