.team {
   
    &__list {
        width: 100%;
        max-width: rem(940px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tablets {
            max-width: rem(500px);           
        }
        @include phones {
            max-width: rem(430px);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        @include tablets {
            min-width: 50%;
            margin-bottom: rem(20px);
        }        
    }   
    &__box-avatar {
        max-width: rem(220px);
        max-height: rem(288px);
        background-color: rgb(146, 217, 250);
        margin-bottom: rem(15px);
        overflow: hidden;
        @include phones {
            max-width: rem(142px);
            max-height: rem(184px);
        }
    }
    &__avatar {
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        
    }
    &__item:nth-child(1) &__avatar {
        object-position: rem(-104px) rem(0px);
        @include phones {
            object-position: -12rem -6rem;
        }
    }
    &__item:nth-child(2) &__avatar {
        object-position: rem(0px) rem(-20px);
    }
    &__item:nth-child(3) &__avatar {
        object-position: rem(0px) rem(-40px);
        @include tablets {
            object-position: rem(0px) rem(-20px);
        }
        @include phones {
            object-position: -4rem -5.25rem;
        }
    }
    &__item:nth-child(4) &__avatar {
        object-position: rem(0px) rem(-4px);
        @include tablets {
            object-position: rem(0px) rem(0px);
        }
        @include phones {
            object-position: -4rem -1rem;
        }
        
    }
    &__member {
        width: 100%;     
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include tablets {
            width: 80%;
        }
    }
    &__name {  
        position: relative;      
        font-size: rem(21px);
        font-weight: 500;
        font-style: normal;
        color: #323232;
        margin-bottom: rem(10px);
        padding-right: rem(17px);
    }
    &__name::after {
        content: ''; 
        position: absolute; 
        right: 0; 
        top: rem(8px);
        border-left: 4.5px solid transparent;
	    border-right: 4.5px solid transparent;
        border-top: 9px solid $green;
       }
    &__post {
        font-size: rem(18px);
        font-weight: normal;
        color: #281e1e;
    }
    &__desc {
        font-size: rem(18px);
        font-weight: 300;
        color: #666666;
    }
    &__popup {        
        z-index: 2;
        overflow: hidden;
        height: 0;        
        transition: height 0.5s;
        text-align: center;
    }
    &__member:hover {
        .team__popup {
            // position: absolute;
            margin-top: 40px;
            overflow: visible;
            height: auto;        
            @include tablets {              
                margin-top: rem(10px);
            }      
            @include phones {
                margin-top: 0;
            }                 
        }
        .team__name::after {
            transform: rotate(180deg);
        }  
    }  

}

 