.contacts {
    padding-left: rem(26px);
    position: relative;
    @include tablets {
        display: none;
    }
    &__phone {
        font-size: rem(24px);
        font-weight: normal;
        font-style: normal;
        line-height: 1.25;
        text-transform: none;
    }
}
.contacts:before {
    content: '';
    position: absolute;
    background-image: url(/dist/img/phone.png) ;
    top: rem(10px);
    left: rem(8px);
    width: rem(12px);
    height: rem(11px);
}