.first-screen {
    position: relative;
    z-index: 1;
    font-family: 'Alegreya Sans';
    background: url(/src/img/product_bg.png) 85% 50%/48%, 
                url(/src/img/1scr_bg.png) bottom right / contain, $blue-bg;
    background-repeat: no-repeat;
    color: white;
    padding-top: rem(24px);
    padding-bottom: rem(47px);
    @include tablets {
        background: url(/src/img/product_bg.png) 51% 13%/48%, url(/src/img/1scr_bg.png) 92% 9%/53%, #61c4d9; 
        background-repeat: no-repeat;           
    }
    @include phones {
        background: url(/src/img/product_bg.png) 51% 10%/60%, url(/src/img/1scr_bg.png) 92% 0%/59%, #61c4d9; 
        background-repeat: no-repeat;           
    }
    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        
        @include tablets {
            width: auto;
            align-items: flex-end; 
            margin-bottom: rem(43px);          
        }
        @include phones {
            width: auto;
            align-items: flex-end; 
            margin-bottom: rem(43px);          
        }
    }
}
.first-screen:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: rem(50px);
    background: url(/src/img/berries-1scr-bg.png) 41% 100%/76%;
    background-repeat: no-repeat;
    @include tablets {
        background: url(/src/img/berries-1scr-bg.png) -60% 20%/84%;
        background-repeat: no-repeat;          
    }
    @include phones {
        background: url(/src/img/berries-1scr-bg.png) 169% 19%/120%;
        background-repeat: no-repeat;          
    }
}
.img-product {
    margin-right: rem(-16px);
}
