.hamburger-menu-link {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: rem(24px);
    height: rem(22px);
    @include tablets {
        display: flex;
    }
    &__bars {
        position: relative;
        width: rem(24px);
        height: rem(4px);
        background-color: #fff;
        border-radius: rem(4px);
    }
    &__bars::before, &__bars::after {
        position: absolute;
        content: '';
        top: rem(7px);
        left: 0;
        width: rem(24px);
        height: rem(4px);
        background-color: #fff;
        border-radius: rem(4px);
    }
    &__bars::after {
        top: rem(-7px);
    }
}
