.header {
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    @include tablets {
        width: 60%;
    }
    @include phones {
        width: 75%;
    }
}
.logo {
    width:rem(53px); 
    height:rem(38px);
    max-width:100%;
}
