.nav {
    display: flex;
    align-items: center;

    @include tablets {
        display: none;
    }
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__item {
    margin-right: rem(25px);
}
.nav__item:last-child {
    margin: 0;
}