.section-title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0d0d;
    @include phones {
        font-size: rem(40px);
    }
    &--white {
        position: absolute;
        color: white;
        top: rem(99px);
        left: rem(79px);
    }
    &--order {
        color: $green;
    }
    &--team {
        margin-bottom: rem(58px);
    }
}
